.app
  position: relative
  background-color: #c7b5cb
  height: 100%
  min-height: 100vh

  .logo
    margin: auto 0

.user
  border: white 1px solid
  .avatar
    margin: auto
    display: inline-flex
    border: white 2px solid
    background-color:
    border-radius: 50%
    height: 100px
    width: 100px
  .user-info
    position: relative
    margin: auto 0
    display: inline-block

.footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  border: white 1px solid
  background-color: #882ccb
  color: white
  font-weight: 300
  a
    text-decoration: none
    color: inherit

.navigation
  display: inline-flex
  a
    margin-left: 50%
