<div class="container" id="login">
  <div class="row">
    <div class="col-md-4">
      <div class="title">
        LOG IN
      </div>
      <div class="inputs">
        <form action="">
          <label for="user">Username</label>
          <input name="user" id="user" type="text">
          <hr>
          <label for="pdw">Password</label>
          <input type="password" name="pwd" id="pwd">
          <button type="submit" name="button">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
