<div class="container" id="top10">
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2 class="title">Top 10</h2>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-5 col-lg-5 col-lg-offset-5 col-md-offset-1">
      <p>1. Daniel Arrieta</p>
      <p>2. Daniel Arrieta</p>
      <p>3. Daniel Arrieta</p>
      <p>4. Daniel Arrieta</p>
      <p>5. Daniel Arrieta</p>
    </div>
    <div class="col-md-5 col-lg-5">
      <p>1. Daniel Arrieta</p>
      <p>2. Daniel Arrieta</p>
      <p>3. Daniel Arrieta</p>
      <p>4. Daniel Arrieta</p>
      <p>5. Daniel Arrieta</p>
    </div>
  </div>
</div>
